<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" sizes="32x32" href="./favicon-32x32.png">
  <title>Frontend Mentor | Tip calculator app</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
  <link rel="stylesheet" href="./assets/scss/styles.css">
</head>
<body>
  <div id="calculator_app" @click='closeDropdowns'>
    <header>
      <h1 class="calculator__title">Spli<br>tter</h1>
      <div class="select-lang">
        <button
          @click='toggleLangDropdown'
          type="button"
          class="select-lang__toggle">{{lang}}</button>
        <ul class="select-lang__list">
          <li v-for="_lang in languages" v-if="_lang !== lang">
            <button
              @click="setLang(_lang)"
              class="select-lang__item">{{_lang}}</button>
          </li>
        </ul>
      </div>
    </header>
    <main>
      <div class="calculator">
        <div class="calculator__left">
          <div class="calculator__label-container">
            <h2 class="calculator__label">{{translate('bill')}}</h2>
            <div class="calculator__error" v-if="bill && isNaN(bill)">{{translate('must_be_numeric')}}</div>
            <div class="calculator__error" v-if="bill && bill == 0">{{translate('cant_be_zero')}}</div>
            <div class="calculator__error" v-if="bill && bill < 0">{{translate('cant_be_negative')}}</div>
          </div>
          <div class="calculator__input-group">
            <label for="bill" class="sr-only">{{translate('how_much_is_your_bill')}}</label>
            <input
              id ="bill"
              type="text"
              class="calculator__input calculator__input--bill"
              :class="{error: isNaN(bill)}"
              :placeholder="translate('your_bill')"
              v-model="bill">
          </div>
          <h2 class="calculator__label">{{translate('select_tip')}}</h2>
          <div class="calculator__tips">
            <button
              v-for="static_tip in static_tips"
              class="calculator__btn"
              :class="{active: tip === static_tip && !custom_tip}"
              type="button"
              @click="setTip(static_tip)"
              :title="translate('add_tip', [static_tip])">{{static_tip}}%</button>
            <div class="calculator__input-group">
              <label for="custom-tip" class="sr-only">{{translate('add_custom_tip')}}</label>
              <input
                class="calculator__input"
                :class="{error: isNaN(custom_tip)}"
                id="custom-tip"
                type="text"
                :placeholder="translate('custom')"
                v-model="custom_tip">
              <div class="calculator__error" v-if="custom_tip && isNaN(custom_tip)">{{translate('must_be_numeric')}}</div>
              <div class="calculator__error" v-if="custom_tip && custom_tip < 0">{{translate('cant_be_negative')}}</div>
            </div>
          </div>
          <div class="calculator__label-container">
            <h2 class="calculator__label">{{translate('number_of_people')}}</h2>
            <div class="calculator__error" v-if="people && isNaN(people)">{{translate('must_be_numeric')}}</div>
            <div class="calculator__error" v-if="people && people == 0">{{translate('cant_be_zero')}}</div>
            <div class="calculator__error" v-if="people && people < 0">{{translate('cant_be_negative')}}</div>
            <div class="calculator__error" v-if="people && !isNaN(people) && !Number.isInteger(Number(people))">{{translate('can_you_divide_people')}}</div>
          </div>
          <div class="calculator__input-group">
            <label for="people" class="sr-only">{{translate('how_many_people_are_you')}}</label>
            <input
              id="people"
              type="text"
              class="calculator__input calculator__input--people"
              :class="{error: isNaN(people) || !Number.isInteger(Number(people))}"
              :placeholder="translate('how_many_people')"
              v-model="people">
          </div>
        </div>
        <div class="calculator__right">
          <div class="calculator__result-row">
            <h2 class="calculator__result-label">{{translate('tip_amount')}}<span>{{translate('per_person')}}</span></h2>
            <div class="calculator__result-count">{{tip_per_person}}</div>
          </div>
          <div class="calculator__result-row">
            <h2 class="calculator__result-label">{{translate('total')}}<span>{{translate('per_person')}}</span></h2>
            <div class="calculator__result-count">{{total_per_person}}</div>
          </div>
          <button
            class="calculator__btn calculator__btn--reset"
            type="button"
            :title="translate('reset_informations')"
            @click="reset">{{translate('reset')}}</button>
        </div>
      </div>
    </main>
    <footer>
      <button
        type="button"
        class="attribution__toggle"
        @click="toggleAttribution">
        <span class="sr-only">{{translate('click_to_open_attribute')}}</span>
        <img src="./assets/img/icon-person.svg">
      </button>
      <div class="attribution">
        <span>{{translate('challenge_by')}} <a href="https://www.frontendmentor.io?ref=challenge" target="_blank">Frontend Mentor</a>. </span>
        <span>{{translate('coded_by')}} <a href="https://github.com/SebastienHinard/" target="_blank">Sébastien Hinard</a>.</span>
      </div>
    </footer>
  </div>
  <script src="./assets/js/translations.js"></script>
  <script src="./assets/js/app.js"></script>
</body>
</html>