.select-lang {
    position: absolute;
    top: 60px;
    right: 12px;
    display: flex;
    flex-direction: row-reverse;
    background-color: transparent;
    padding: 6px;
    margin: -6px;
    border-radius: 10px;
    transition: .25s ease-in-out;

    &__toggle,
    &__item {
        appearance: none;
        font-size: .6em;
        width: 36px;
        height: 36px;
        border-radius: 50%;
        border: none;
        text-transform: uppercase;
        cursor: pointer;
        transition: .25s ease-in-out;

        background: $color-darkest;
        color: $color-dark;
        font-weight: 700;

        &:hover,
        &:focus {
            transform: scale(1.2);
            outline: none;
        }
    }

    &__item {
        background-color: $color-strong;
        color: $color-darkest;

        &:hover,
        &:focus {
            background: $color-strong-focus;
        }
    }

    &__list {
        margin-right: 6px;
        list-style: none;
        display: flex;
        transform-origin: right;
        opacity: 0;
        pointer-events: none;
        transition: .25s ease-in-out;

        li {
            margin-right: 6px;
        }
    }

    &.open {
        background-color: $color-white;

        .select-lang__list {
            opacity: 1;
            pointer-events: unset;
        }
    }
}

.rtl .select-lang {
    flex-direction: row;
}